<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Main Test Suite" verbose="2">
<parameter name = "url"  value= "https://www.facebook.com/"></parameter>
 <test name="regressionsuite">
    <classes>
     <class name="pages.Base"/>
      <class name="pages.SignIn"/>
      <class name="tests.Signintests"/>
      <class name="pages.Homepage"/>
    </classes>
  </test> 
  
 </suite> 

